.button {
    background-color: $light-gray;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 7.5px;
    padding: .5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
        font-size: 1.2rem;
    }

    &--disabled {
        position: relative;
        cursor: default;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
    }

    &:not(.button--disabled):hover {
        background-color: $ultra-light-gray;
    }
}