@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* { color: #fff !important; }

::selection { background-color: #212121; }

body {
	background-image: url(../img/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 3rem;
}

.tableConts {
	text-align: center;
	padding: 1.5rem;
	margin: auto 0;
}

.graphCont {
	width: 80%;
	padding: 1.5rem;
	background-color: rgba(255,255,255,.2);
	border-radius: 15px;
	border: 1.5px solid #ccc;
	display: inline-block;
	margin-bottom: 1.5rem;
}

.graph { width: 90%; }

table {
	background-color: rgba(0,0,0,.5);
	border-radius: 15px;
	border: 1.5px solid #ccc;
	border-collapse: unset;
	width: 80%;
	margin: 0 auto;
}

table, table * { 
	font-family: Source Sans Pro, sans-serif;
	text-align: center;
}

#weighMat th, #weighMat td, #solMat th, #solMat td { padding: .4rem 1.2rem; }

#solRow { padding: 1rem 0 2rem; }
#solRow .col { margin: auto; }
#solTitle { display: inline-block; }

#weightHolder {
	background-color: rgba(0,0,0,.5);
	border-radius: 15px;
	border: 1.5px solid #ccc;
	border-collapse: unset;
	display: inline-block;
	width: 15%;
	margin-left: 1.2rem;
}

#weightHolder h4 { margin: 1rem 0; }

#buttonCont {
	width: 100%;
	transition: all .3s ease-in-out;
}

#buttonCont:hover { transform: translateY(-10px); }

#dwnldRepo {
	padding: 1rem 3rem;
	background-color: #111;
	border-radius: 10px;
	border: 2px solid #fff;
	font-size: 20px;
	font-weight: 600;
	transition: all .3s ease-in-out;
	text-decoration: none;
}

#dwnldRepo:hover { background-color: #333; }