/* Dialog styling */
.loadSave .ui-dialog-content {
  padding: 0;
  margin: 0;
}

.loadSave .ui-dialog-buttonpane {
  padding: .05em;
  margin-top: .1em;
}

.loadSave .ui-tabs, .loadSave .ui-tabs-panel, .loadSave .ui-dialog-content textarea {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;      /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;   /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
}

.loadSave .ui-dialog-content textarea {
  font-size: x-small;
  border: 1px solid #aaa;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

span.tranStart:after {
  content:url('../images/transition_start.png');
  vertical-align: bottom;
}
span.tranEnd:before {
  content:url('../images/transition_end.png');
  vertical-align: bottom;
}

/* Local Storage Widget */
#machineName {
  width: 98%;
}

#storedMachines {
  max-height: 250px;
}

  li.machineName {
    position: relative;
    cursor: pointer;
  }

  li.machineName:hover {
    background-color: #aea;
  }

  li.machineName div.delete {
    position: absolute;
    top: 0;
    right: 0;
  }

/* jsPlumb z-index styles */
._jsPlumb_connector {
  z-index: 3;
}

._jsPlumb_endpoint {
  z-index: 4;
}

._jsPlumb_overlay {
  z-index: 5;
}

