@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: Source Sans Pro, sans-serif;
}

::selection {
	background-color: #212121;
	color: #fff;
}

body { 
	text-align: center; 
	background-image: url(../img/bg.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

button:hover { 
	transform: translateY(-15px); 
	background-color: #383838 !important;
}

#input_holder {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 2rem;
	background-color: rgba(0,0,0,0.6);
	margin-left: 15px;
	border-radius: 20px;
}

#input_holder .row {
	padding: 0 5rem;
}

#input_holder label {
	color: #fff;
	text-shadow: 2px 3px 4px #696969;
	margin-bottom: 25px;
	font-size: 2.8rem;
}

#input_holder input {
	width: 100%;
	padding: 10px 15px;
	font-size: 20px;
	background-color: rgba(255,255,255, .4);
	border: none;
	border-radius: 15px;
	outline: none;
}

#input_holder button {
	width: 100%;
	padding: 10px 15px;
	font-size: 20px;
	font-weight: 600;
	background-color: #212121;
	color: #fff;
	border: none;
	border: 1.5px solid #fff;
	border-radius: 15px;
	outline: none;
	transition: all .3s ease-in-out;
}

#input_holder h3, #input_holder p {
	color: #fff;
	text-shadow: 2px 3px 4px #696969;
	margin: 25px 0;
}

#input_holder p { font-size: 23px; }

#input_holder #getTree { display: none; }

#main_content_holder {
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 2rem;
	background-color: rgba(0,0,0,0.6);
	margin-left: 15px;
	border-radius: 20px;
}

#traverseHolder { 
	padding: 3rem;
}

#traverseHolder h1 {
	color: #fff;
	text-shadow: 2px 3px 4px #696969;
	margin-bottom: 25px;
	font-size: 3.5rem;
}

#traverseHolder button { 
	padding: 1rem 0;
	width: 95%;
	font-size: 25px;
	border-radius: 15px;
	font-weight: 600;
	border: none;
	background-color: #212121;
	color: #fff;
	border: 2px solid #fff;
	transition: all .3s ease-in-out;
	cursor: hand;
}

#pathsHolder {
	padding: 3rem;
}

#pathsHolder p {
	display: none;
	color: #fff;
	font-size: 35px;
	font-weight: 600;

}

canvas {
	display: inline-block; 
	padding: 1.5rem;
	border: 2px solid #fff;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translateY(-50%);
}